body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #4A90E2, #8E44AD);
}
.main{
	width: auto;
	height: auto;
	background:  #7244c9;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	color: #FFFFFF;
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.form-title{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #4a3275;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	transition: .2s ease-in;
	cursor: pointer;
	
}
button:hover{
	background: #3a2168;
}
.login{
	height: 900%;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-700px);
}
#chk:checked ~ .login label{
	transform: scale(1);
	padding-top: 10px;	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


form {
    background-color: #7244c9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin: auto;
}

label {
	padding-left: 28%;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

a {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

input:focus {
    border-color: #4A90E2;
    outline: none;
}


button:hover {
    background-color: #357ABD;
}

.errorlist {
    color: #FF0000;
    font-size: 12px;
}