{% extends "base.html" %} <!-- extiende el contenido del archivo mencionado (base.html)-->
{% load static %} <!-- Renderiza archivos staticos-->
<!-- con block title se libera la posibilidad de añadir un titulo para cada vista diferente-->
{% block title %}Página de Inicio - Vet & Pet Center{%endblock%}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
{% block content %}<!-- Deja pasar el contenido de esta vista -->

<div class="container-fluid">
    <!-- Promociones en la parte superior -->
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card promotion-card">
                <div class="card-body">
                    <h5 class="card-title">10% de descuento</h5>
                    <p class="card-text">para tu primera compra en alimentos de marca PX Formula</p>
                    <img src="dog-food.jpg" alt="Dog Food" class="img-fluid rounded">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card promotion-card">
                <div class="card-body">
                    <h5 class="card-title">Envío gratis</h5>
                    <p class="card-text">Para compras con un monto superior a $70.000</p>
                    <img src="free-shipping.jpg" alt="Free Shipping" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
    <!-- Contenido principal: Filtros a la izquierda y lista de productos a la derecha -->
    <div class="row" style="padding-left: 1.5%; padding-right: 1.5%;">
        <div class="container mt-4">
            <form class="d-flex" method="get" action="{% url 'productos' %}">

                <!-- Campo de búsqueda -->
                <input class="form-control me-2" type="search" name="q" placeholder="Buscar productos"
                    aria-label="Search" style="border-radius: 30px;">
                <button class="btn btn-primary" type="submit">Buscar</button>
        </div>

        <!-- Filtros-->
        <div class="col-md-3" style="padding-top: 1.5%;">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Filtros</h5>
                </div>
                <div class="card-body">

                    <!-- Rango de precio -->
                    <h6>Rango de Precio</h6>
                    <label for="min_price">Precio mínimo:</label>
                    <input class="form-range" type="number" name="min_price" min="0" max="1000000" step="1">
                    <label for="max_price">Precio máximo:</label>
                    <input class="form-range" type="number" name="max_price" min="0" max="1000000" step="1">

                    <!-- Categorías -->
                    <h6>Categorías</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="categorias" value="Alimentos">
                        Alimentos<br>
                        <input class="form-check-input" type="checkbox" name="categorias" value="Accesorios">
                        Accesorios<br>
                        <input class="form-check-input" type="checkbox" name="categorias" value="Juguetes"> Juguetes<br>
                        <input class="form-check-input" type="checkbox" name="categorias" value="Camas y rascadores">
                        Camas y rascadores<br>
                    </div>

                    <!-- Tipo de Animal -->
                    <h6>Tipo de Animal</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="tipo_animal" value="0.1"> Gato<br>
                        <input class="form-check-input" type="checkbox" name="tipo_animal" value="0.2"> Perro<br>
                        <input class="form-check-input" type="checkbox" name="tipo_animal" value="0.3"> Ave<br>
                        <input class="form-check-input" type="checkbox" name="tipo_animal" value="0.4"> Hamster<br>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="btn btn-secondary" type="submit">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Lista de productos -->
        <div class="container">
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <!-- Imagen del producto -->
                        {% if producto.ImagenProducto %}
                            <img src="{{ producto.ImagenProducto.url }}" class="card-img-top" alt="{{ producto.NombreProducto }}">
                        {% else %}
                            <img src="{% static 'img/ProductPlaceholder.png' %}" class="card-img-top" alt="Imagen no disponible">
                        {% endif %}
        
                        <!-- Cuerpo de la card -->
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.NombreProducto }}</h5>
                            <p class="card-text">Precio: ${{ producto.PrecioProducto }}</p>
                            {% if producto.EstaOferta %}
                            <p class="text-danger">Oferta: ${{ producto.PrecioOferta }}</p>
                            {% endif %}
                        </div>
        
                        <!-- Footer de la card -->
                        <div class="card-footer text-center">
                            <button class="btn btn-primary open-modal-btn" data-sku="{{ producto.SKUProducto }}">Ver detalles</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


<!-- Modal de Bootstrap para mostrar los detalles del producto -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            

            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Detalles del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="modal-product-details">
                <!-- Los detalles del producto se cargarán aquí dinámicamente -->
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
// Me voy a matar weon, te juro que me voy a matar
document.querySelectorAll('.open-modal-btn').forEach(button => {
    button.addEventListener('click', function() {
        const sku = this.dataset.sku;

        // Hacer la petición al backend para obtener los detalles del producto
        fetch(`/productos/${sku}/`)
            .then(response => response.json())
            .then(data => {
                // Llenar el modal con los datos recibidos
                const modalContent = `
                    <p>Sku: ${sku} </p>
                    <img src="${data.imagen_url}" alt="${data.nombre}" class="img-fluid mb-3">
                    <h2>${data.nombre}</h2>
                    <p>${data.descripcion}</p>
                    <p>Precio: $${data.precio}</p>
                    ${data.esta_en_oferta ? `<p class="text-danger">Oferta: $${data.precio_oferta}</p>` : ''}
                    <p>Stock disponible: ${data.stock}</p>
                    <p>Categoría: ${data.categoria}</p>
                    <p>Para: ${data.tipo_animal}</p>
                `;
                document.getElementById('modal-product-details').innerHTML = modalContent;
                var productModal = new bootstrap.Modal(document.getElementById('productModal'));
                productModal.show();
            })
            .catch(error => console.error('Error al obtener los detalles del producto:', error));
    });
});

</script>


{%endblock%}